.styled{
  padding: 0px 10px;
  text-align: right;
  font-family: sans;
  font-size: 1.5rem;
  background-color: black;
  color: rgb(255 255 255);
  border: 2px solid rgb(0 0 0);
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ffffff;
  cursor: pointer;
}
.styled:hover{
  border: 2px solid white;
  color: white;
  box-shadow: 0px 0px 10px;
  text-shadow: 0px 2px 3px gray;
}
.styled:active{
  box-shadow: 0px 0px 10px #bababa;
  color: black;
  background-color: white;
  text-shadow: 0px 3px 3px black;
}
.styled:focus{
  cursor: default;
  box-shadow: 0px 0px 10px #bababa;
  border: white;
  color: black;
  background-color: white;
  text-shadow: 0px 3px 3px black;
}
.text_styled:hover{
  box-shadow: 0px 0px 5px white;
  text-shadow: 0px 0px 5px #aaaaaa;
  cursor: default;
}
.text_styled{
  color: white;
  border:double gray;
  position:absolute;
  width: 300px;
  text-align: center;
}
