.styled{
  padding: 0px 10px;
  text-align: right;
  font-family: sans;
  font-size: 1.5rem;
  background-color: black;
  color: rgb(255, 164, 74);
  border: solid rgb(255, 164, 74);
}
.styled:hover{
  border: solid yellow;
  color: yellow;
}
.text_styled:hover{
  color: yellow;
}
.text_styled{
  color: white;
}
