.styled{
  padding: 0px 10px;
  text-align: right;
  font-family: sans;
  border: solid black;
  font-size: 1.5rem;
  background-color: black;
  color: rgb(150, 100, 50);
  border: solid rgb(150, 100, 50);
}
.styled:hover{
  border: solid yellow;
  color: yellow;
}
.text_styled:hover{
  color: darkred;
}
